html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: rgb(212, 212, 212);
  background: -moz-linear-gradient(
    0deg,
    rgba(212, 212, 212, 1) 0%,
    rgba(212, 212, 212, 1) 38%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(212, 212, 212, 1) 0%,
    rgba(212, 212, 212, 1) 38%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(212, 212, 212, 1) 0%,
    rgba(212, 212, 212, 1) 38%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4d4d4",endColorstr="#ffffff",GradientType=1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 16px;
  font-family: "Lato", sans-serif;
  color: white;
}

.main {
  background: black;
  border-radius: 16px;
  width: 800px;
  padding: 32px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
}

.person {
  display: flex;
}

.person__picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 32px;
  z-index: 2;
}

.person__name {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  color: #10a5df;
}

.person__position {
  margin-top: 0;
  font-style: italic;
}

.person__description {
  line-height: 22px;
}

.person__link {
  color: white;
  text-decoration: none;
}

.person__link--backlight:hover {
  color: #10a5df;
}

.special-text {
  color: #10a5df;
  font-weight: normal;
}

.person__picture--special-background {
  width: 202px;
  height: 202px;
  border-radius: 50%;
  margin-right: 32px;
  position: absolute;
  background: linear-gradient(149.47deg, #000000 50%, #10a5df 99.6%);
  z-index: 1;
}
